SMTP_HOST=YOUR_SMTP_HOST
SMTP_PORT=YOUR_SMTP_PORT
SMTP_USER=YOUR_SMTP_USER
SMTP_PASS=YOUR_SMTP_PASS
SMTP_FROM=YOUR_SMTP_FROM
JWT_SECRET_KEY=YOUR_JWT_SECRET_KEY
DATABASE_URL=YOUR_DATABASE_URL
REDIS_HOST=YOUR_REDIS_HOST
REDIS_PORT=YOUR_REDIS_PORT

